<!--
Copyright (c) 2017 Intel Corporation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<launch>
  <arg name="name"        default="detect_nodelet"      doc="name for the included nodelet" />
  <arg name="pkg_name"    default="movidius_ncs"        doc="package name of the detect implementation" />
  <arg name="manager"                                   doc="name of the nodelet manager for detect nodelet" />
  <arg name="input"                                     doc="topic name for detect nodelet to subscribe as input" />
  <arg name="output"                                    doc="topic name of the detect result" />

  <!-- parameters for clCaffe wrapper -->
  <arg name="clcaffe_param_file" default="$(find opencl_caffe_launch)/launch/includes/default.yaml"
                                               doc="full path name to param yaml file" />

  <!-- parameters for Intel Movidius NCS wrapper -->
  <arg name="device_index"    default="0" />
  <arg name="log_level"       default="0" />
  <arg name="cnn_type"        default="mobilenetssd" />
  <arg name="top_n"           default="3" />
  <arg name="ncs_param_file"  default="$(find movidius_ncs_launch)/config/mobilenetssd.yaml"
                                                  doc="full path name to param yaml file" />


  <include file="$(find opencl_caffe_launch)/launch/includes/nodelet.launch"
                    if="$(eval pkg_name == 'opencl_caffe' or pkg_name == 'opencl_caffe_launch')" >
      <arg name="name"          value="$(arg name)" />
      <arg name="manager"       value="$(arg manager)" />
      <arg name="input_topic"   value="$(arg input)" />
      <arg name="output_topic"  value="$(arg output)" />
      <arg name="param_file"    value="$(arg clcaffe_param_file)"/>
  </include>
  <include file="$(find movidius_ncs_launch)/launch/includes/ncs_stream.launch"
                    if="$(eval pkg_name == 'movidius_ncs' or pkg_name == 'movidius_ncs_launch')" >
      <arg name="manager"       value="$(arg manager)" />
      <arg name="input_topic"   value="$(arg input)" />
      <arg name="output_topic"  value="$(arg output)" />
      <arg name="param_file"    value="$(arg ncs_param_file)"/>
      <arg name="device_index"  value="$(arg device_index)"/>
      <arg name="log_level"     value="$(arg log_level)"/>
      <arg name="cnn_type"      value="$(arg cnn_type)"/>
      <arg name="top_n"         value="$(arg top_n)"/>
  </include>
</launch>
